.trip-form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 5% 0 2% 0;
  font-weight: bold;
}

input,
.trip-destination {
  height: 30px;
}

.button-form {
  border: none;
  border-radius: 2px;
  font-size: 1em;
  font-weight: bold;
  color: white;
}

.button-quote {
  background-color: #585A89;
}

.button-submit {
  background-color: #00B0FE;
}

.trip-request-message {
  margin-bottom: 10%;
}

.disabled {
  cursor: not-allowed;
}
