.all-trips {
  padding: 0 6% 0 3%;
}

.all-trips h2 {
  padding-bottom: 3%;
  border-bottom: 1px solid lightgray;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 4%;
  grid-row-gap: 7%;
}

@media screen and (max-width: 1400px) {
  .all-trips {
    padding-right: 8%;
  }
}

@media screen and (max-width: 425px) {
  .all-trips {
    padding: 0;
    margin: 0 5%;
  }
}
